.new-pokemon {
    &__input {
        margin-right: 1rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
        width: 10rem;
        border: 2px solid #ddd;
        border-radius: 0.5rem;
        background-color: #f8f8f8;
        outline: none;
        transition: all ease 0.3s;

        &:focus {
            border-color: #a349a4;
            background-color: #fff;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }
}
