.pokemon {
    &__item {
        margin-bottom: 1rem;
        width: 12rem;
        list-style: none;
        border-radius: 0.5rem;
        border: 1px solid #ddd;
        //background-color: #a349a4;
        box-shadow: 0px 0px 11px 12px #a040a0;
        font-weight: bold;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > * {
            margin: 3px 0;
        }
    }
    &__img {
        width: 200px;
        height: 200px;
    }

    &__label {
        display: inline-block;
        font-weight: normal;
        width: 5rem;
        color: #fff;
        margin-bottom: 1rem;
        text-decoration: underline;
    }

    &__name {
        text-transform: capitalize;
        text-align: center;
        font-weight: bold;
    }
    &__type {
        border: solid 1px white;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        list-style: none;
    }
}

//seleccionar colores de la pgina web de los tipos
.fire {
    background-color: #f08030;
}
.water {
    background-color: #6890f0;
}
.bug {
    background-color: #a8b820;
}
.poison {
    background-color: #a040a0;
}
.flying {
    background-color: #a890f0;
}
.grass {
    background-color: #78c850;
}
.electric {
    background-color: #f8d030;
}
