@import "./core/reset.scss";

.page {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-image: url("https://www.wallpapertip.com/wmimgs/167-1673607_pokemon-wallpaper-pokemon-neon.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 100vh;
    padding: 2rem;
    font-family: "Orbitron", sans-serif;
}
